.container {
    background-color: rgba(136, 131, 131, 0.075);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.699);
    padding: 14px 14px 14px;
    border-radius: 5px
}

.image-upload > input
{
    display: none;
}

.image-upload img
{
    width: 100%;
    cursor: pointer;
}